<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dog" class="com.kaede.a01.Dog">
        <property name="age" value="3"/>
        <property name="color" value="red"/>
    </bean>
    <bean id="teddy" class="com.kaede.a01.TeddyDog" parent="dog">
        <property name="name" value="wang"/>
    </bean>

</beans>